<!DOCTYPE html>
<html lang="de" class="no-js">
    <head>
        <title>
        
        </title>
        
    </head>
    <body>
		{%  block content %}
		Hello {{ dump(arguments) }}!
		{%  endblock %}
    </body>
</html>