{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Registration <small>Create an account</small></h1>
</div>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" novalidate>
    <fieldset class="well">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
    <div class="form-actions clearfix">
        
        <button type="submit" class="btn btn-success btn-lg"><i class="icon-user"></i> Register</button>
    </div>
</form>
{% endblock %}
