{#% extends 'SonataAdminBundle:CRUD:list__action.html.twig' %#}

{#% if admin.hasRoute('via_ebay_action') %#}
<div class="btn-group">
    <a id="{{ admin.id(object) }}" href="{{ admin.generateObjectUrl('send-to-viaebay-single', object) }}" class="btn btn-small sonata-ba-action" onclick="return start_field_dialog_form_add_via_ebay(this);" title="{{ 'via.form.label.custom_action.upload'|trans({}) }}">
        <i class="icon-upload"></i>
        {{ 'via.form.label.custom_action.upload'|trans({}) }}
    </a>
</div>
{#% endif %#}